.container,
.container-fluid,
.container-tablet,
.container-mobile {
  clear: both;
  margin: 0 auto;
  overflow: hidden; }

.container {
  max-width: 1280px;
  min-width: 0px; }

.container-fluid {
  max-width: 100%;
  min-width: 0px; }

.container-tablet {
  max-width: 1024px;
  min-width: 0px; }

.container-mobile {
  max-width: 768px;
  min-width: 0px; }

.col-5 {
  float: left;
  width: 5%; }

.col-10 {
  float: left;
  width: 10%; }

.col-15 {
  float: left;
  width: 15%; }

.col-20 {
  float: left;
  width: 20%; }

.col-25 {
  float: left;
  width: 25%; }

.col-30 {
  float: left;
  width: 30%; }

.col-35 {
  float: left;
  width: 35%; }

.col-40 {
  float: left;
  width: 40%; }

.col-45 {
  float: left;
  width: 45%; }

.col-50 {
  float: left;
  width: 50%; }

.col-55 {
  float: left;
  width: 55.0%; }

.col-60 {
  float: left;
  width: 60%; }

.col-65 {
  float: left;
  width: 65%; }

.col-70 {
  float: left;
  width: 70%; }

.col-75 {
  float: left;
  width: 75%; }

.col-80 {
  float: left;
  width: 80%; }

.col-85 {
  float: left;
  width: 85%; }

.col-90 {
  float: left;
  width: 90%; }

.col-95 {
  float: left;
  width: 95%; }

.col-100 {
  float: left;
  width: 100%; }

.col-33 {
  float: left;
  width: 33.33333%; }

.col-66 {
  float: left;
  width: 66.66667%; }

@media only screen and (min-width: 1024px) {
  .hide-on-desktop {
    display: none; } }
@media only screen and (max-width: 1024px) {
  .col-tablet-5 {
    float: left;
    width: 5%; }

  .col-tablet-10 {
    float: left;
    width: 10%; }

  .col-tablet-15 {
    float: left;
    width: 15%; }

  .col-tablet-20 {
    float: left;
    width: 20%; }

  .col-tablet-25 {
    float: left;
    width: 25%; }

  .col-tablet-30 {
    float: left;
    width: 30%; }

  .col-tablet-35 {
    float: left;
    width: 35%; }

  .col-tablet-40 {
    float: left;
    width: 40%; }

  .col-tablet-45 {
    float: left;
    width: 45%; }

  .col-tablet-50 {
    float: left;
    width: 50%; }

  .col-tablet-55 {
    float: left;
    width: 55.0%; }

  .col-tablet-60 {
    float: left;
    width: 60%; }

  .col-tablet-65 {
    float: left;
    width: 65%; }

  .col-tablet-70 {
    float: left;
    width: 70%; }

  .col-tablet-75 {
    float: left;
    width: 75%; }

  .col-tablet-80 {
    float: left;
    width: 80%; }

  .col-tablet-85 {
    float: left;
    width: 85%; }

  .col-tablet-90 {
    float: left;
    width: 90%; }

  .col-tablet-95 {
    float: left;
    width: 95%; }

  .col-tablet-100 {
    float: left;
    width: 100%; }

  .col-tablet-33 {
    float: left;
    width: 33.33333%; }

  .col-tablet-66 {
    float: left;
    width: 66.66667%; } }
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .hide-on-tablet {
    display: none; } }
@media only screen and (max-width: 768px) {
  .col-mobile-5 {
    float: left;
    width: 5%; }

  .col-mobile-10 {
    float: left;
    width: 10%; }

  .col-mobile-15 {
    float: left;
    width: 15%; }

  .col-mobile-20 {
    float: left;
    width: 20%; }

  .col-mobile-25 {
    float: left;
    width: 25%; }

  .col-mobile-30 {
    float: left;
    width: 30%; }

  .col-mobile-35 {
    float: left;
    width: 35%; }

  .col-mobile-40 {
    float: left;
    width: 40%; }

  .col-mobile-45 {
    float: left;
    width: 45%; }

  .col-mobile-50 {
    float: left;
    width: 50%; }

  .col-mobile-55 {
    float: left;
    width: 55.0%; }

  .col-mobile-60 {
    float: left;
    width: 60%; }

  .col-mobile-65 {
    float: left;
    width: 65%; }

  .col-mobile-70 {
    float: left;
    width: 70%; }

  .col-mobile-75 {
    float: left;
    width: 75%; }

  .col-mobile-80 {
    float: left;
    width: 80%; }

  .col-mobile-85 {
    float: left;
    width: 85%; }

  .col-mobile-90 {
    float: left;
    width: 90%; }

  .col-mobile-95 {
    float: left;
    width: 95%; }

  .col-mobile-100 {
    float: left;
    width: 100%; }

  .col-mobile-33 {
    float: left;
    width: 33.33333%; }

  .col-mobile-66 {
    float: left;
    width: 66.66667%; }

  .hide-on-mobile {
    display: none; } }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.img-responsive {
  height: auto;
  width: 100%;
  line-height: 0; }

.text-center {
  text-align: center; }

/*# sourceMappingURL=responsify.css.map */
